<ion-card class="content">
    
    <ion-card-header class="header">
        <div class="pull-right">
            <ion-icon name="more" (click)="showAdditionalOptions($event)"></ion-icon>
        </div>
        <div class="pull-left">
            <ion-input type="text" placeholder="Deck name..."></ion-input>
        </div>
    </ion-card-header>
    <!-- <ion-card-content> -->
        <div class="parent">
            <img class="background" src="assets/imgs/DeckBackground2.png">
            <div class="topCards">
                <img class="cards" src="assets/imgs/PlaceholderCard.png" (click)="openCardSelection($event)">
                <img class="cards" src="assets/imgs/PlaceholderCard.png" (click)="openCardSelection($event)">
                <img class="cards" src="assets/imgs/PlaceholderCard.png" (click)="openCardSelection($event)">
                <img class="cards" src="assets/imgs/PlaceholderCard.png" (click)="openCardSelection($event)">
                </div>
            <div class="bottomCards">
                <img class="cards" src="assets/imgs/PlaceholderCard.png" (click)="openCardSelection($event)">
                <img class="cards" src="assets/imgs/PlaceholderCard.png" (click)="openCardSelection($event)">
                <img class="cards" src="assets/imgs/PlaceholderCard.png" (click)="openCardSelection($event)">
                <img class="cards" src="assets/imgs/PlaceholderCard.png" (click)="openCardSelection($event)">
            </div>
        </div>
        <ion-label class="elixirCost">Average Elixir Cost:</ion-label>
    <!-- </ion-card-content> -->
</ion-card>